{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Library Management System{% endblock %} | LibManage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% if user.is_authenticated %}
    <div class="layout">
        {% include 'partials/sidebar.html' %}
        <div class="main">
            {% include 'partials/topbar.html' %}
            <main class="content">
                {% include 'partials/messages.html' %}
                {% block content %}{% endblock %}
            </main>
            {% include 'partials/footer.html' %}
        </div>
    </div>
    {% else %}
        <main class="content">
            {% include 'partials/messages.html' %}
            {% block auth_content %}{% endblock %}
        </main>
    {% endif %}
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
